[local]
localhost ansible_connection=local

[bastions]
{% for b in bastions %}
{{ b.hostname }} ansible_host={{ b.ip }}
{% endfor %}

[k8_nodes]
{% for n in k8_nodes %}
{{ n.hostname }} ansible_host={{ n.ip }}
{% endfor %}

[ssh_hosts:children]
k8_nodes
bastion

[ssh_hosts:vars]
ansible_user=demouser
ansible_connection=ssh