[defaults]
stdout_callback = default
result_format = yaml
gathering = smart
inventory = inventory/

[inventory]
unparsed_is_failed = true

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
retries = 3
